<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="assets/img/burger.jpg" alt="Royale with Cheese">
            <h2>Eat-Da-Burger!</h2>
        </div>
    </div>
    <div class="row">
        <div id="on-deck" class="col-6 text-center">
            <h2 class="underlined">On Deck</h2>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/plate}}
                {{/unless}}
            {{/each}}
        </div>
        <div id="eaten" class="col-6 text-center">
            <h2 class="underlined"><u>Devoured</u></h2>
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/eaten}}
                {{/if}}
            {{/each}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="offset-4 col-4">
            <form>
                <div class="form-group">
                    <label for="newBurger">New Burger Order:</label>
                    <input type="text" class="form-control" id="newBurger" aria-describedby="burgerHelp" placeholder="Enter a new burger to add to the deck...">
                    <small id="burgerHelp" class="form-text text-muted">Craving something specific? Type it in to order it!</small>
                </div>
                <button type="submit" id="submitBurger" class="btn btn-primary">Order Up!</button>
            </form>
        </div>
    </div>
</div>